body
{
    margin-top: 20px;
    font: 12pt "Roboto";
}
#content {
    width:1000px;
    margin: 0 auto;
}
#chart {
    width: 1000px;
    height: 500px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32);
}